In [6]:
import pandas as pd
df = pd.read_csv("./data1.csv")
df

,Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0,2021,Level 1,99999,All industries,Dollars (millions),H01,Total income,Financial performance,"757,504",ANZSIC06 divisions A-S (excluding classes K633...
1,2021,Level 1,99999,All industries,Dollars (millions),H04,"Sales, government funding, grants and subsidies",Financial performance,"674,890",ANZSIC06 divisions A-S (excluding classes K633...
2,2021,Level 1,99999,All industries,Dollars (millions),H05,"Interest, dividends and donations",Financial performance,"49,593",ANZSIC06 divisions A-S (excluding classes K633...
3,2021,Level 1,99999,All industries,Dollars (millions),H07,Non-operating income,Financial performance,"33,020",ANZSIC06 divisions A-S (excluding classes K633...
4,2021,Level 1,99999,All industries,Dollars (millions),H08,Total expenditure,Financial performance,"654,404",ANZSIC06 divisions A-S (excluding classes K633...
...,...,...,...,...,...,...,...,...,...,...
41710,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H37,Quick ratio,Financial ratios,52,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41711,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H38,Margin on sales of goods for resale,Financial ratios,40,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41712,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H39,Return on equity,Financial ratios,12,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41713,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H40,Return on total assets,Financial ratios,5,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."
41714,2013,Level 3,ZZ11,Food product manufacturing,Percentage,H41,Liabilities structure,Financial ratios,46,"ANZSIC06 groups C111, C112, C113, C114, C115, ..."

In [7]:
df = pd.read_table("./data1.csv")
df

      Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0      2021,Level 1,99999,All industries,Dollars (mil...
1      2021,Level 1,99999,All industries,Dollars (mil...
2      2021,Level 1,99999,All industries,Dollars (mil...
3      2021,Level 1,99999,All industries,Dollars (mil...
4      2021,Level 1,99999,All industries,Dollars (mil...
...                                                  ...
41710  2013,Level 3,ZZ11,Food product manufacturing,P...
41711  2013,Level 3,ZZ11,Food product manufacturing,P...
41712  2013,Level 3,ZZ11,Food product manufacturing,P...
41713  2013,Level 3,ZZ11,Food product manufacturing,P...
41714  2013,Level 3,ZZ11,Food product manufacturing,P...

[41715 rows x 1 columns]

In [8]:
# Read the first n rows
df.head(5)

  Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
0  2021,Level 1,99999,All industries,Dollars (mil...
1  2021,Level 1,99999,All industries,Dollars (mil...
2  2021,Level 1,99999,All industries,Dollars (mil...
3  2021,Level 1,99999,All industries,Dollars (mil...
4  2021,Level 1,99999,All industries,Dollars (mil...

In [9]:
# Read the last n rows
df.tail(5)

      Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
41710  2013,Level 3,ZZ11,Food product manufacturing,P...
41711  2013,Level 3,ZZ11,Food product manufacturing,P...
41712  2013,Level 3,ZZ11,Food product manufacturing,P...
41713  2013,Level 3,ZZ11,Food product manufacturing,P...
41714  2013,Level 3,ZZ11,Food product manufacturing,P...

In [11]:
# get rows and columns
df.shape

(41715, 1)

In [13]:
type(df)

pandas.core.frame.DataFrame

In [14]:
df.describe()

       Year,Industry_aggregation_NZSIOC,Industry_code_NZSIOC,Industry_name_NZSIOC,Units,Variable_code,Variable_name,Variable_category,Value,Industry_code_ANZSIC06
count                                               41715
unique                                              41715
top     2021,Level 1,99999,All industries,Dollars (mil...
freq                                                    1

In [3]:
import pandas as pd
student = {
    "Name": "John Doe",
    "Age": 21,
    "Height": 170.0
}
# The index specifies that the DataFrame should have one row 
df1 = pd.DataFrame(student, index=[0])
df1

       Name  Age  Height
0  John Doe   21   170.0