##  2. Exploring and understanding data

### Viewing and selecting data

* `head()`
* `tail()`
* `loc`
* `iloc`
* `columns` - `df['A']`
* boolean indexing - `df[df['A'] > 5]`
* `crosstab()`
* `.plot()`
* `hist()`

In practice, you'll constantly be making changes to your data, and viewing it. Changing it, viewing it, changing it, viewing it.

You won't always want to change all of the data in your `DataFrame`'s either. So there are just as many different ways to select data as there is to view it.

`.head()` allows you to view the first 5 rows of your `DataFrame`. You'll likely be using this one a lot.

In [1]:
import pandas as pd
car_sales_df = pd.read_csv('./car_sales.csv')
# Show the first 5 rows of car_sales
car_sales_df.head()

     Make Colour  Odometer (KM)  Doors  Price
0  toyota  White         150043      4   4000
1   honda    Red          87899      4   5000
2  toyota   Blue          32549      3   7000
3     bmw  Black          11179      5  22000
4  nissan  White         213095      4   3500

Why 5 rows? Good question. I don't know the answer. But 5 seems like a good amount.

Want more than 5?

No worries, you can pass `.head()` an integer to display more than or less than 5 rows.

In [2]:
# Show the first 7 rows of car_sales
car_sales_df.head(7)

     Make Colour  Odometer (KM)  Doors  Price
0  toyota  White         150043      4   4000
1   honda    Red          87899      4   5000
2  toyota   Blue          32549      3   7000
3     bmw  Black          11179      5  22000
4  nissan  White         213095      4   3500
5  toyota  Green          99213      4   4500
6   honda   Blue          45698      4   7500

`.tail()` allows you to see the bottom 5 rows of your `DataFrame`. This is helpful if your changes are influencing the bottom rows of your data.

In [4]:
# Show bottom 5 rows of car_sales
car_sales_df.tail(10)

     Make Colour  Odometer (KM)  Doors  Price
0  toyota  White         150043      4   4000
1   honda    Red          87899      4   5000
2  toyota   Blue          32549      3   7000
3     bmw  Black          11179      5  22000
4  nissan  White         213095      4   3500
5  toyota  Green          99213      4   4500
6   honda   Blue          45698      4   7500
7   honda   Blue          54738      4   7000
8  toyota  White          60000      4   6250
9  nissan  White          31600      4   9700

You can use `.loc[]` and `.iloc[]` to select data from your `Series` and `DataFrame`'s.

In [5]:
type(car_sales_df)

pandas.core.frame.DataFrame

In [10]:
# Select row at index 3
car_sales_df.loc[3]

Make               bmw
Colour           Black
Odometer (KM)    11179
Doors                5
Price            22000
Name: 3, dtype: object

In [11]:
# Get row from index 3 upto and including 5
car_sales_df.loc[3:5]

     Make Colour  Odometer (KM)  Doors  Price
3     bmw  Black          11179      5  22000
4  nissan  White         213095      4   3500
5  toyota  Green          99213      4   4500

In [ ]:
# Get all rows up to (and including) index 3
car_sales_df.loc[:3]

If you want to select a particular column, you can use `['COLUMN_NAME']`.

In [15]:
# Select Make column
car_sales_df['Make']

# select a single row,e.g., row indexed at 2
car_sales_df.loc[2]

Make             toyota
Colour             Blue
Odometer (KM)     32549
Doors                 3
Price              7000
Name: 2, dtype: object

In [16]:
# Select cars with over 100,000 on the Odometer
car_sales_df[car_sales_df["Odometer (KM)"] > 100000]

     Make Colour  Odometer (KM)  Doors  Price
0  toyota  White         150043      4   4000
4  nissan  White         213095      4   3500

`pd.crosstab()` is a great way to view two different columns together and compare them.

In [ ]:
# Compare car Make with number of Doors
pd.crosstab(car_sales_df["Make"], car_sales_df["Doors"])

If you want to compare more columns in the context of another column, you can use `.groupby()`.

In [ ]:
car_sales_df

In [ ]:
# Group by the Make column and find the mean of the other columns 
car_sales_df.groupby(["Make"]).mean()

## Exploring and Understanding data: Visualizing data

pandas even allows for quick plotting of columns so you can see your data visualling. To plot, you'll have to import `matplotlib`. If your plots aren't showing, try running the two lines of code below.

`%matplotlib inline` is a special command which tells Jupyter to show your plots. Commands with `%` at the front are called magic commands.

In [ ]:
# Import matplotlib and tell Jupyter to show plots
import matplotlib.pyplot as plt
%matplotlib inline

You can visualize a column by calling `.plot()` on it.

In [ ]:
car_sales_df["Odometer (KM)"].plot()

You can see the distribution of a column by calling `.hist()` on you.

The distribution of something is a way of describing the spread of different values.

In [ ]:
car_sales_df["Odometer (KM)"].hist()

In this case, the majority of the **distribution** (spread) of the `"Odometer"` column is more towards the left of the graph. And there are two values which are more to the right. These two values to the right could be considered **outliers** (not part of the majority).

## 6. Manipulating data

You've seen an example of one way to manipulate data but pandas has many more. How many more? Put it this way, if you can imagine it, chances are, pandas can do it.

Let's start with string methods. Because pandas is based on Python, however you can manipulate strings in Python, you can do the same in pandas.

You can access the string value of a column using `.str`. Knowing this, how do you think you'd set a column to lowercase?

In [ ]:
# Lower the Make column
car_sales_df["Make"].str.upper()

In [ ]:
# View top 5 rows, Make column not lowered
car_sales_df

In [ ]:
# Set Make column to be lowered
car_sales_df["Make"] = car_sales_df["Make"].str.upper()
car_sales_df.head()

Reassigning the column changes it in the original `DataFrame`. This trend occurs throughout all kinds of data manipulation with pandas.

Some functions have a parameter called `inplace` which means a `DataFrame` is updated in place without having to reassign it.

Let's see what it looks like in combination with `.fillna()`, a function which fills missing data. But the thing is, our table isn't missing any data.

In practice, it's likely you'll work with datasets which aren't complete. What this means is you'll have to decide whether how to fill the missing data or remove the rows which have data missing.

Let's check out a version of our `car_sales_missing` data with missing values.

 ## 3. Cleaning and preparing data
 
 1. Manipulating missing data

In [ ]:
# Import car sales data with missing values
car_sales_missing = pd.read_csv("/home/gerel/Documents/DATA/car_sales_missing_info.csv")
car_sales_missing

Missing values are shown by `NaN` in pandas. This can be considered the equivalent of `None` in Python.

Let's use the `.fillna()` function to fill the `Odometer` column with the average of the other values in the same column.

We'll do it with and without `inplace`.

In [ ]:
# Fill Odometer column missing values with mean
car_sales_missing["Odometer"].fillna(car_sales_missing["Odometer"].mean(), 
                                     inplace=True) # inplace is set to False by default

Now let's check the original `car_sales_missing` `DataFrame`.

In [ ]:
car_sales_missing

Because `inplace` is set to `False` (default), there's still missing values in the `"Odometer"` column. Let's try setting `inplace` to `True`.

In [ ]:
# Fill the Odometer missing values to the mean with inplace=True
car_sales_missing["Odometer"].fillna(car_sales_missing["Odometer"].mean(),
                                     inplace=True)

Now let's check the `car_sales_missing` `DataFrame` again.

In [ ]:
car_sales_missing

The missing values in the `Odometer` column have been filled with the mean value of the same column.

In practice, you might not want to fill a column's missing values with the mean, but this example was to show the difference between `inplace=False` (default) and `inplace=True`.

Whichever you choose to use will depend on how you structure your code. All you have to remember is `inplace=False` returns a copy of the `DataFrame` you're working with. This is helpful if you want to make a duplicate of your current `DataFrame` and save it to another variable.

We've filled some values but there's still missing values in `car_sales_missing`. Let's say you wanted to remove any rows which had missing data and only work with rows which had complete coverage.

You can do this using `.dropna()`.

In [ ]:
# Remove missing data
car_sales_missing.dropna()

In [ ]:
car_sales_missing

It appears the rows with missing values have been removed, now let's check to make sure.

In [ ]:
car_sales_missing = car_sales_missing.dropna()

In [ ]:
car_sales_missing

Hmm, they're still there, can you guess why?

It's because `.dropna()` has `inplace=False` as default. We can either set `inplace=True` or reassign the `car_sales_missing` `DataFrame`.

In [ ]:
# The following two lines do the same thing
car_sales_missing.dropna(inplace=True) # Operation happens inplace without reassignment
#car_sales_missing = car_sales_missing.dropna() # car_sales_missing gets reassigned to same DataFrame but with dropped values

Now if check again, the rows with missing values are gone and the index numbers have been updated.

In [ ]:
car_sales_missing

## 2. Removing unnecessary measurement values

In [ ]:
In addition to removing or filling data, you can also remove unnecessary measurements.

In [ ]:
car_sales_missing

So what can we do?

We need to convert the `"Price"` column to a numeric type.

In [ ]:
# Change Price column to integers
# car_sales_missing["Price"] = car_sales_missing["Price"].str.replace('[\$\,\.]', '', regex=True)

car_sales_missing['Price'] = car_sales_missing['Price'].str.replace('$', '')

car_sales_missing

In [ ]:
car_sales_missing.dtypes

In [ ]:
car_sales_missing['Price'] = pd.to_numeric(car_sales_missing['Price'].str.replace(',', ''))

In [ ]:
car_sales_missing.dtypes

In [ ]:
car_sales_missing

## Add more columns


Creating a column called `Seats` for number of seats.

pandas allows for simple extra column creation on `DataFrame`'s. Three common ways are adding a `Series`, Python list or by using existing columns.

In [ ]:
# Create a column from a pandas Series
seats_column = pd.Series([5, 5, 5, 5, 5, 5, 5, 5, 5, 5])
car_sales_missing["Seats"] = seats_column

In [ ]:
car_sales_missing

Creating a column is similar to selecting a column, you pass the target `DataFrame` along with a new column name in brackets.

In [ ]:
# Create a column from a Python list
engine_sizes = [1.3, 2.0, 3.0, 4.2, 1.6, 1]
car_sales_missing["Engine Size"] = engine_sizes
car_sales_missing

You can also make a column by directly combining the values of other columns. Such as, price per kilometre on the Odometer.

In [ ]:
# Column from other columns
car_sales_missing["Price per KM"] = car_sales_missing["Price"] / car_sales_missing["Odometer"]
car_sales_missing

Now can you think why this might not be a great column to add?

It could be confusing when a car with less kilometers on the odometer looks to cost more per kilometre than one with more. When buying a car, usually less kilometres on the odometer is better.

This kind of column creation is called **feature engineering**. If `Make`, `Colour`, `Doors` are features of the data, creating `Price per KM` could be another. But in this case, not a very good one.

As for column creation, you can also create a new column setting all values to a one standard value.

In [ ]:
# Column to all 1 value (number of wheels)
car_sales_missing["Number of wheels"] = 4
car_sales_missing

In [ ]:
car_sales_missing["Passed road safety"] = True
car_sales_missing

Now you've created some columns, you decide to show your colleague what you've done. When they ask about the `Price per KM` column, you tell them you're not really sure why it's there.

You decide you better remove it to prevent confusion.

You can remove a column using `.drop('COLUMN_NAME', axis=1)`.

When you set axis=1, it indicates that the operation should be performed along columns, meaning the specified column will be removed from the DataFrame.

In [ ]:
# Drop the Price per KM column
car_sales_missing = car_sales_missing.drop("Price per KM", axis=1)
car_sales_missing

In [ ]:

car_sales_missing

In [ ]:
car_sales_missing = car_sales_missing.drop(0)
car_sales_missing

In [ ]:

car_sales_missing

.sample(frac=1) is used to shuffle the rows randomly, and reset_index(drop=True) is used to reset the index of the resulting DataFrame.

car_sales_missing.sample(frac=1).reset_index(drop=True)

In [ ]:
# Sample car_sales
car_sales_sampled = car_sales_missing.sample(frac=1)
car_sales_sampled

Notice how the rows remain intact but their order is mixed (check the indexes).

`.sample(frac=X)` is also helpful when you're working with a large `DataFrame`. Say you had 2,000,000 rows.

Running tests, analysis and machine learning algorithms on 2,000,000 rows could take a long time. And since being a data scientist or machine learning engineer is about reducing the time between experiments, you might begin with a sample of rows first.

For example, you could use `40k_rows = 2_mil_rows.sample(frac=0.05)` to work on 40,000 rows from a `DataFrame` called `2_mil_rows` containing 2,000,000 rows.

What if you wanted to get the indexes back in order?

You could do so using `.reset_index()`.

In [ ]:
# Reset the indexes of car_sales_sampled
car_sales_sampled.reset_index()

Calling `.reset_index()` on a `DataFrame` resets the index numbers to their defaults. It also creates a new `Index` column by default which contains the previous index values.

Finally, what if you wanted to apply a function to a column. Such as, converting the `Odometer` column from kilometers to miles.

You can do so using the `.apply()` function and passing it a lambda function. We know there's about 1.6 kilometers in a mile, so if you divide the value in the `Odometer` column by 1.6, it should convert it to miles.

In [ ]:
# Change the Odometer values from kilometres to miles
car_sales_missing["Odometer"].apply(lambda x: x / 1.6)

Now let's check our `car_sales` `DataFrame`.

In [ ]:
car_sales_missing

The `Odometer` column didn't change.

In [ ]:
# Reassign the Odometer column to be miles instead of kilometers
car_sales_missing["Odometer"] = car_sales_missing["Odometer"].apply(lambda x: x / 1.6)
car_sales_missing

If you've never seen a lambda function they can be tricky. What the line above is saying is "take the value in the `Odometer (KM)` column (`x`) and set it to be itself divided by 1.6".

## Exporting Data

In [ ]:
car_sales_missing.to_csv('/home/gerel/Documents/car_sales_cleaned.csv')

In [ ]:
car_sale_cleaned = pd.read_csv('/home/gerel/Documents/car_sales_cleaned.csv')
car_sale_cleaned

## Summary

### Main topics we covered
* [Series](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html) - a single column (can be multiple rows) of values.
* [DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/frame.html) - multiple columns/rows of values (a DataFrame is comprised of multiple Series).
* [Importing data](https://pandas.pydata.org/pandas-docs/stable/reference/io.html) - we used [`pd.read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html#pandas.read_csv) to read in a CSV (comma-separated values) file but there are multiple options for reading data.
* [Exporting data](https://pandas.pydata.org/pandas-docs/stable/reference/io.html) - we exported our data using `to_csv()`, however there are multiple methods of exporting data.
* [Describing data](https://pandas.pydata.org/pandas-docs/stable/getting_started/basics.html#attributes-and-underlying-data)
    * `df.dtypes` - find the datatypes present in a dataframe.
    * `df.describe()` - find various numerical features of a dataframe.
    * `df.info()` - find the number of rows and whether or not any of them are empty.
* [Viewing and selecting data](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#viewing-data)
    * `df.head()` - view the first 5 rows of `df`.
    * `df.loc` & `df.iloc` - select specific parts of a dataframe.
    * `df['A']` - select column `A` of `df`.
    * `df[df['A'] > 1000]` - selection column `A` rows with values over 1000 of `df`.
    * `df['A']` - plot values from column `A` using matplotlib (defaults to line graph).
* [Manipulating data and performing operations](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#operations) - pandas has many built-in functions you can use to manipulate data, also many of the Python operators (e.g. `+`, `-`, `>`, `==`) work with pandas.
 
### Further reading
Since pandas is such a large library, it would be impossible to cover it all in one go. 

The following are some resources you might want to look into for more.
* [Python for Data Analysis by Wes McKinney](https://www.amazon.com.au/Python-Data-Analysis-Wrangling-IPython-ebook/dp/B075X4LT6K) - possibly the most complete text of the pandas library (apart from the documentation itself) written by the creator of pandas.
* [Data Manipulation with Pandas (section of Python Data Science Handbook by Jake VanderPlas)](https://jakevdp.github.io/PythonDataScienceHandbook/03.00-introduction-to-pandas.html) - a very hands-on approach to many of the main functions in the pandas library.  

### Exercises
After completing this notebook, you next thing should be to try out some more pandas code of your own.

I'd suggest at least going through number 1 (write out all the code yourself), a couple from number 2 (again, write out the code yourself) and spend an hour reading number 3 (this is vast but keep it in mind).

1. [10-minute introduction to pandas](https://pandas.pydata.org/pandas-docs/stable/user_guide/10min.html) - go through all the functions here and be sure to write out the code yourself.
2. [Pandas getting started tutorial](https://pandas.pydata.org/pandas-docs/stable/getting_started/intro_tutorials/index.html) - pick a couple from here which spark your interest and go through them both writing out the code for your self.
3. [Pandas essential basic functionality](https://pandas.pydata.org/pandas-docs/stable/user_guide/basics.html) - spend an hour reading this and bookmark it for whenever you need to come back for an overview of pandas.